$main-color: #fff;

body,
html {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

h1 {
  font-size: 2.25rem;
  font-weight: 800 !important;
  &.big-header {
    @media (max-width: 768px) {
      margin: 0;
    }
    font-weight: 800;
    font-size: 4.375rem;
    margin-top: 70px;
  }
  &.information {
    letter-spacing: 4px;
  }
}

ul {
  margin: 0;
}
li {
  list-style-type: none;
  color: $main-color;
  font-size: 20px;
  font-family: inherit;
}

a {
  color: #fff;
  transition: all 0.3s ease;

  &:hover {
    text-decoration: none;
    color: #80c565;
  }
  &.top-link {
    font-size: 13px;
    font-weight: 600;

    &:after {
      content: "\2192";
      margin-left: 5px;
    }

    &:hover {
      text-decoration: none;
      opacity: 0.8;
      color: #fff;
      transform: translateX(5px);
    }
  }
}

.img-wrapper-mobile-compatible {
  margin-left: -33px;
  margin-right: -33px;
  @media (min-width: 576px) {
    margin-left: -50px;
    margin-right: -50px;
  }
  @media (min-width: 768px) {
    margin-left: -100px;
    margin-right: -100px;
  }
}

.container-service-pages {
  color: #000;

  @media (min-width: 576px) {
    padding: 45px 50px;
  }
  @media (max-width: 575px) {
    padding: 45px 33px;
  }
  @media (min-width: 768px) {
    padding: 45px 100px;
  }
}

.background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  @media (min-width: 1200px) {
    background-attachment: fixed;
  }
}

.main-header-mobile-text {
  @media (max-width: 768px) {
    font-size: 2.5rem !important;
  }
}
.sub-header-mobile-text {
  @media (max-width: 768px) {
    font-size: 1.25rem !important;
  }
}

.arrow-scroll-down {
  text-align: center;
  &:hover {
    cursor: pointer;
  }
  .arrow {
    animation: bounce 2s infinite;
    font-size: 30px;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.hero-text {
  @media (max-width: 768px) {
    margin: 0;
    padding-left: 20px;
  }
  margin: 0 100px;
  display: flex;
  height: 93%;
  justify-content: center;
  flex-direction: column;
  h1 {
    @media (max-width: 768px) {
      margin: 0;
    }
    font-size: 4.375rem;
    font-weight: 800;
    margin-top: 70px;
    &.no-margin {
      margin-top: 0px;
    }
  }
  h2 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1;
    width: 321px;
    @media (max-width: 370px) {
      width: 100%;
    }

    @media (min-width: 768px) {
      line-height: 2;
      width: 70%;
    }
    @media (min-width: 900px) {
      width: 50%;
    }
    @media (min-width: 1400px) {
      width: 40%;
    }
    @media (min-width: 1600px) {
      width: 30%;
    }
  }
}

.eyebrow-main-text {
  position: relative;
  padding-left: 60px;
  letter-spacing: 0.2em;
  &::before {
    content: "";
    background: #fff;
    width: 40px;
    height: 2px;
    transform: translate(0, -50%);
    position: absolute;
    left: 0;
    top: 50%;
  }
}
