$main-color: #fff;

body,
html {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

h1 {
  font-size: 2.25rem;
}
ul {
  margin: 0;
}
li {
  list-style-type: none;
  color: $main-color;
  font-size: 20px;
  font-family: inherit;
}

a {
  color: $main-color;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s ease;
  &:hover {
    text-decoration: none;
    color: #80c565;
  }
}

.background {
  background-image: url("https://www.platinumseed.com/img/bg-home-01-large.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  position: relative;
}

.hero-text {
  margin: 0 100px;
  display: flex;
  height: 93%;
  justify-content: center;
  flex-direction: column;
  h1 {
    font-size: 4rem;
    font-weight: 800;
    margin-top: 70px;
  }
  h4 {
    font-weight: 400;
    @media (min-width: 768px) {
      width: 70%;
    }
    @media (min-width: 900px) {
      width: 50%;
    }
  }
}
